body{
    background-color: aqua;
    text-align: center;
}

button{
    border-color: green;
    border-radius: 100px;
    cursor: pointer;
}
h1{
    background-color: aquamarine;
    width: 500px;
    margin-left: 400px;
    border-radius: 30px;
}
img{
    height: 20px;
}
#button2{
    margin-left: 130px;
}

#container{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 400px;
}

#container div{
    height: 370px;
    width: 335px;
    background: #106cff;
    margin: 60px;
    text-align: center;
}

h2{
    display: none;
}

@media all and (max-width: 500px) {
    body{
        color: white;
        background: black;
    }
    #container{
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 400px;
    }
    #container div{
        height: 200px;
        width: 200px;
        background: #106cff;
        margin: 1px;
        text-align: center;
    }
    h1{
        display: none;
    }
    h2{
        display: grid;
        background-color: aquamarine;
        border-radius: 30px;
    }
}